@{
    ViewBag.Title = "About Page";
}


<br />
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">
            DONE
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>web app with multiply document file upload;</p>
                </blockquote>
            </a>
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>file status changed messages;</p>
                </blockquote>
            </a>
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>doc type detection on backend and frontend (on frontend only by file extenstion);</p>
                </blockquote>
            </a>
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>
                        for docx: read and write ExtendedFilePropertiesPart.
                        Company, manager, application (thou it only can be seen on pc with office installed);
                    </p>
                </blockquote>
            </a>
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>
                        file download functional;
                    </p>
                </blockquote>
            </a>
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>
                        logs;
                    </p>
                </blockquote>
            </a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            TODO
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>
                        dB optimization. Create table for each type of document and abstract base document type;
                    </p>
                </blockquote>
            </a>
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>
                        tests (some test presetup is available in the project but it has some problems);
                    </p>
                </blockquote>
            </a>
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>
                        old document types binary parse to read and write embed data;
                    </p>
                </blockquote>
            </a>
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>
                        frontend notifications refactoring;
                    </p>
                </blockquote>
            </a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Tech stack
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <blockquote>
                    <p>
                        Asp.net mvc, C#, ef, log4net, ninject, open xml sdk, angularJs, bootstrap;
                    </p>
                </blockquote>
            </a>
        </div>
    </div>
</div>
