@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("Js/HomePageCntrl")
@Html.Partial("Filters/CustomFiltersJs")

@Html.Partial("Directives/FileUploadDirectivePartial")


<div ng-controller="HomePageCntrl">
    <div class="container-fluid">
        <div class="row">
            <files-upload-control refresh="getfilesList()">
            </files-upload-control>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>file name</th>
                <th>file size</th>
                <th>file type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="file in filesFromDb">
                <td>{{file.FileName}}</td>
                <td>{{file.FileSize}}</td>
                <td>{{file.FileType}}</td>
                <td>
                    <button type="button"
                            ng-click="removeDocument(file)"
                            class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>