<script type="text/ng-template" id="docsManager.filesTemplate">
    <div class="row"><br /></div>
    <div class="row" ng-if="filesList.length == 0">
        <div class="col-md-6">
            <div class="btn btn-primary" type="file" ngf-select="prepareToUpload($files)" multiple>
                select files
            </div>
        </div>
    </div>
    <div class="row"><br /></div>
    <div class="progress" ng-show="progress >= 0 && filesList.length>0">
        <div class="progress-bar" role="progressbar" ng-bind="progress + '%'" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
            <span class="sr-only">{{progress}}% complete</span>
        </div>
    </div>

    <div class="row" ng-repeat="file in filesList">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    {{file.name}} <span class="badge">{{file.size | convertsize}}</span>
                </li>
                <li class="list-group-item">
                    last modified date <span class="badge">{{file.lastModifiedDate | date : 'short'}}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <button type="button"
                    ng-click="remove(file)"
                    class="btn btn-danger">
                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="btn btn-primary" ng-click="uploadFiles()" ng-if="filesList.length>0">upload files <span class="badge">{{filesList.length}}</span></div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var app = angular.module('app');
    app.directive('filesUploadControl', [
        '$http', '$rootScope', 'Upload', '$timeout', function ($http, $rootScope, $upload, $timeout) {
            return {
                scope: {
                    itemid: '=',
                    getfilesUrl: '=',
                    uploadfileUrl: '=',
                    removefileUrl: '='
                },
                templateUrl: 'docsManager.filesTemplate',
                link: function ($scope) {

                    $scope.filesList = [];
                    $scope.prepareToUpload = function(files) {
                        $scope.filesList = files;
                    }

                    $scope.uploadFiles = function () {
                        var files = $scope.filesList;
                        if (files && files.length) {
                            $upload.upload({
                                url: '@Url.Action("UploadMultiplyDocs", "Documents")',
                                data: {
                                    files: files
                                }
                            }).then(function (response) {
                                $scope.filesList = [];
                                $timeout(function () {
                                    $rootScope.showSuccess('files uploaded');
                                    $scope.result = response.data;
                                 });
                            }, function (response) {
                                if (response.status > 0) {
                                    $scope.errorMsg = response.status + ': ' + response.data;
                                    $rootScope.showError(errorMsg);
                                }
                            }, function (evt) {
                                $scope.progress =
                                    Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
                            });
                        }
                    };

                    $scope.remove = function (file) {
                        var index = $scope.filesList.indexOf(file);
                        $scope.filesList.splice(index, 1);
                        $rootScope.showSuccess(file.name + ' removed');
                    }


                }

            }
        }
    ]);
</script>
