<script type="text/ng-template" id="docsManager.filesTemplate">
 
    <div class="popover-content-block">

        <div>
            <form class="form-inline form-group">
                <button type="button" class="close" ng-click="hideInfo()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="form-group m-0">
                    <div>
                        <label>Add new file</label>
                    </div>

                    <div ngf-select ng-model="innerModel.selectedFile" class="form-control import" type="file">
                        <span ng-show="innerModel.selectedFile==null"><i class="fa fa-upload" aria-hidden="true"></i></span>
                        <span ng-show="innerModel.selectedFile!=null">{{innerModel.selectedFile.name| limitTo:20 }}</span>
                    </div>
                </div>
                <button class="btn btn-primary align-bottom m-0" data-test="uploadBtn" ng-disabled="innerModel.selectedFile==null" ng-click="uploadFile()">upload</button>
            </form>
            <div ng-show="files.length==0">
                no files
            </div>
        </div>

        <div ng-show="files.length>0" class="scroll-block sm">
            <table class="inner-table table table-condensed">
                <thead>
                    <tr>
                        <th>file name</th>
                        <th>download</th>
                        <th>remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in files">
                        <td>
                            {{file.Name | cutText:20 }}
                        </td>
                        <td>
                            @*<a class="btn btn-primary" id="downloadFile_{{file.Id}}" href="@Url.Action("DownloadFile", "CarillionFiles")?fileId={{file.Id}}">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>*@
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" id="deleteFile_{{file.Id}}" ng- ng-click="deleteFile(file)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</script>

<script type="text/javascript">
    var app = angular.module('app');
    app.directive('filesUploadControl', [
        '$http', '$rootScope', 'Upload', '$timeout', function ($http, $rootScope, $upload, $timeout) {
            return {
                scope: {
                    itemid: '=',
                    getfilesUrl: '=',
                    uploadfileUrl: '=',
                    removefileUrl:'='
                },
                templateUrl: 'docsManager.filesTemplate',
                link: function ($scope) {

                    $scope.innerModel = { selectedFile: null };
                    $scope.isOpen = false;
                    $scope.hideInfo = function () {
                        $scope.isOpen = false;
                    }
                    $scope.switchFiles = function () {
                        if (!$scope.isOpen) {
                            $scope.openFiles();
                        } else {
                            $scope.isOpen = false;
                        }
                    }

                    $scope.openFiles = function () {
                        $http.get($scope.getfilesUrl, { params: { itemId: $scope.itemid } })
                            .then(function (resp) {
                                $scope.files = resp.data;
                                $scope.isOpen = true;
                            });
                    }
                    $scope.uploadFile = function () {
                        $scope.files = $scope.innerModel.selectedFile;
                    
                        $upload.upload({
                                url: $scope.uploadfileUrl,
                                data: {
                                    file: $scope.files
                                }
                            }).then(function (response) {
                                $timeout(function () {
                                    $scope.result = response.data;
                                });
                            }, function (response) {
                                if (response.status > 0) {
                                    $scope.errorMsg = response.status + ': ' + response.data;
                                }
                            }, function (evt) {
                                       });
                   
                    };
                    //$scope.uploadFile = function () {
                    //    $upload.upload({
                    //        url: $scope.uploadfileUrl,
                    //        data: {
                    //            file: $scope.innerModel.selectedFile
                                
                    //        }
                    //    }).then(
                    //        function (resp) {
                    //            $scope.openFiles();
                    //            $scope.innerModel.selectedFile = null;
                             
                    //        }
                    //    );
                    //}

                    $scope.deleteFile = function (file) {
                        $http.post($scope.removefileUrl, { fileId: file.Id, itemId: $scope.itemid }).then(function (resp) {
                            $scope.openFiles();
                            
                        });
                    }
                    $scope.closeOverlay = function () {
                        scope.isOpen = false;
                    }

                }

            }
        }
    ]);
</script>
